
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<ion-content>

  <ion-card color="light">
    <div class="img-wrapper">
      <img src="https://teddiapp.com/app/uploads/users/profile.jpg" />
      <ion-button color="light">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
    </div>
    <ion-card-content class="ion-text-center">
      <h2>Zahra Zamin</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="location-outline" color="medium">
          </ion-icon>
          <p>2345 Street, Ohio, USA.</p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>
  
</ion-content>
